// LAYOUT;

html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.dshNotiz {
  font-size: 90%;
}

#dshHauptteilI.dshSeiteLaedt>.dshSeiteLaden {
  display: block;
}

  .dshSeiteLaden {
    display: none;
    text-align: center;
    margin: 150px 0;
  }

// FARBEN;
.dshNotiz {
  color: @abstufung4;
}
