// LAYOUT;

#dsh_fusszeile {
	border-top: @fusszeile_border_top;
	padding: 10px 10px 30px 10px;
}

.dsh_seite_P #dsh_fusszeile {
	width: @seitenbreite;
	margin: 0px auto;
}

.dsh_seite_H #dsh_fusszeile,
.dsh_seite_T #dsh_fusszeile {
	width: 100%;
	max-width: @seitenbreite !important;
	margin: 0px auto;

}

// FARBEN;

#dsh_fusszeile {
	background: @fusszeile_hintergrund;
}