// LAYOUT;

#dsh_kopfzeile_o {
	position: @kopfzeile_positionierung;
	width: 100%;
	top: @kopfzeile_abstandvonoben;
	left: 0px;
	z-index: 20;
}

#dsh_kopfzeile_i {
	margin: @kopfzeile_aussenabstand;
	width: @seitenbreite;
	height: @kopfzeile_hoehe;
	padding: 10px 10px 0px 10px;
}

#dsh_platzhalter {
	margin-top: @kopfzeile_platzhalter;
	height: 0px;
	width: 100%;
}

.dsh_seite_P #dsh_kopfzeile_i {
	width: @seitenbreite;
	margin: 0 auto;
}

.dsh_seite_H #dsh_kopfzeile_i,
.dsh_seite_T #dsh_kopfzeile_i {
	width: 100%;
	max-width: @seitenbreite !important;
	margin: 0 auto;
}

#dsh_logo {
	position: absolute;
	left: 10px;
	top: 10px;
	display: inline-block;
}

#dsh_logo_bild {
	float: left;
	padding-right: 10px;
	height: @logo_höhe;
}

#dsh_logo_schrift {
	float: left;
	display: @logo_anzeige;
}

#dsh_logo_o, #dsh_logo_u {
	position: relative;
	font-size: 170%;
	padding: 2px 0px 0px 0px;
	display: block;
}

#dsh_logo_o {
	font-weight: bold;
}

// FARBEN;

#dsh_logo_o, #dsh_logo_u {
	color: @logo_schriftfarbe;
}

#dsh_kopfzeile_o {
	background: @kopfzeile_hintergrund;
	border-bottom: @kopfzeile_border_bottom;
	box-shadow: @kopfzeile_box_shadow;
}